@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css"; /*chats는 css파일 생성없이 클래스 재사용하여 해결됨.*/
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* 전체에 적용되는  효과는 styles.css 에 직접넣는 식으로 하면 구분 쉬움 */
body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
