.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%; /*스크린의 50%*/
  opacity: 0.7; /*회색 또는 opacity 조절*/
}

/*BEM방식 썻다면 이런식*/
.login-from {
}

.login-form_btn {
}

/* BEM 방식 사용하지 않을 경우*/
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

/*클래스 없이 구현가능*/
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

/*submit은 제외하고 효과적용*/
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="text"]:focus::placeholder,
#login-form input[type="password"]:focus::placeholder {
  color: transparent;
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer; /*not allowed, progressing 등가능*/
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /*상속. 기본은 black*/
  font-size: 13px;
}
