.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px; /* 이걸로도 아이콘 크기 조절됨. font awasome 클래스 사용안하더라도 */
}

.icon-row__icon span {
  margin-top: 18px;
}
