.thumbnailimg {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.openChatimg {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.butterimg-src {
  background: url("../../img/butter.jpg") no-repeat top center;
  background-size: 200%;
}

.cookieimg-src {
  background: url("../../img/cookie.jpg") no-repeat top center;
  background-size: 100%;
}

.ggomulimg-src {
  background: url("../../img/cookie.jpg") no-repeat top center;
  background-size: 100%;
}

.butter-screen {
  background: url("../../img/butter_background.jpg") repeat top center;
  background-size: 100%;
}

.cookie-screen {
  background: url("../../img/cookie_background.jpg") repeat top center;
  background-size: 100%;
}
